body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

blockquote {
  max-width: 50%;
}

img {
  cursor: pointer;
}

.footer--wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-size: 10px;
  margin-top: auto;
  font-family: verdana, arial, helvetica, sans-serif;
}

@media only screen and (max-width: 760px){
  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1em;
  }
}